$dark-brown: #a54a38;
$light-brown: #bf624c;
$dark-green: #51af5e;
$light-green: #51AF5E;
$shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$minion-color:#66FF00;

@mixin background-zigzag {
  background: linear-gradient(135deg, $dark-green 25% , transparent 25%) -50px 0,
  linear-gradient(-135deg, $dark-green 25%, transparent 25%) -50px 0,
  linear-gradient(45deg, $light-brown 25%, transparent 25%),
  linear-gradient(-45deg, $dark-brown 25%, transparent 25%);
background-size: 100px 100px;
height: 30px;
  width: 100%;
}

@mixin block-shadow{
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  position: absolute;
}


* {
  padding: 0;
  margin: 0;
}

body {
  counter-reset: score;
  height: 100vh;
  margin: 0;
  width: 100%;
  display: grid;
  place-items: center;
}


.land {
  @include background-zigzag()
}
.phone {
  background: #ccefff;
  border: 8px solid black;
  border-radius: 40px;
  box-shadow: var(--shadow); /* After */
  overflow: hidden; /* After */
  height: 600px;
  position: relative;
  width: 440px;
}

.score{
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
}