input[type=checkbox] {
  appearance: none;
  cursor: pointer;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 80px;
  z-index: 2;
}

input[type=checkbox]:focus {
  appearance: none;
  outline: none;
}

input:checked {
  counter-increment: score;
}

.score::after {
  content: counter(score);
}
.layer-1 input[type=checkbox]{
    left: -155px;
    animation: layer 2.0s ease-in-out infinite;

}

.layer-2 input[type=checkbox] {
  animation: layer 2.0s ease-in-out infinite;
  position: absolute;
  left: -20px;
  top: -10px;
  }
  .layer-4 input[type=checkbox] {
    animation: layer 2.0s ease-in-out infinite;

  }

  .layer-6 input[type=checkbox] {
    animation: layer 2.0s ease-in-out infinite;
  } 