* {
  padding: 0;
  margin: 0;
}

body {
  counter-reset: score;
  height: 100vh;
  margin: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.lawn {
  background: var(--dark-green);
  height: 20px;
  width: 100%;
}

.land {
  background: linear-gradient(135deg, var(--dark-green) 25%, transparent 25%) -50px 0, linear-gradient(-135deg, var(--dark-green) 25%, transparent 25%) -50px 0, linear-gradient(45deg, var(--light-brown) 25%, transparent 25%), linear-gradient(-45deg, transparent 25%, var(--dark-brown) 25%);
  background-size: 33px 30px;
  height: 30px;
  width: 100%;
}

.phone {
  background: #ccefff;
  border: 8px solid black;
  border-radius: 40px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow); /* After */
  overflow: hidden; /* After */
  height: 600px;
  position: relative;
  width: 300px;
}

.layer-1 {
  bottom: 0;
  height: 450px;
  position: absolute;
  right: 60px;
  width: 80px;
  z-index: 1;
  /* After 4 */
  -webkit-animation-name: layer;
          animation-name: layer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.layer-2 {
  bottom: 0;
  height: 450px;
  position: absolute;
  left: 60px;
  width: 80px;
  z-index: 2;
}

.layer-3 {
  background-color: #bf624c;
  border-radius: 20px;
  -webkit-box-shadow: var(0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22));
          box-shadow: var(0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22));
  bottom: 0;
  height: 400px;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 220px;
  z-index: 3;
}

.layer-4 {
  background-color: blue;
  bottom: 0;
  height: 350px;
  left: 15px;
  position: absolute;
  width: 80px;
  z-index: 4;
  /* After 4 */
  -webkit-animation-name: layer;
          animation-name: layer;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.layer-5 {
  background-color: #51af5e;
  border-radius: 20px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  bottom: 0;
  height: 300px;
  overflow: hidden;
  position: absolute;
  width: 200px;
  z-index: 5;
}

.layer-6 {
  background-color: cadetblue;
  bottom: 0;
  height: 250px;
  position: absolute;
  right: 30px;
  width: 80px;
  z-index: 6;
  -webkit-animation-name: layer;
          animation-name: layer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.layer-7 {
  background: #bf624c; /* After */
  border-radius: 20px; /* After */
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow); /* After */
  bottom: 0;
  height: 200px;
  overflow: hidden; /* After */
  position: absolute;
  right: 0;
  width: 150px;
  z-index: 7;
}

.layer-8 {
  bottom: 0;
  height: 120px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 200px;
  z-index: 8;
}

.layer-8__left-lawn {
  background: #51af5e;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 70%;
  left: 0;
  position: absolute;
  width: 80px;
}

.layer-8__center-lawn {
  background: #51af5e;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 100%;
  left: 60px;
  position: absolute;
  width: 80px;
}

.layer-8__right-lawn {
  background: #51af5e;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 80%;
  left: 130px;
  position: absolute;
  width: 80px;
}

.layer-9 {
  bottom: 0;
  height: 100px;
  width: 120px;
  position: absolute;
  z-index: 9;
}

.layer-9__left-cloud {
  background: white;
  border-radius: 40px 40px 0 0;
  display: inline;
  height: 100%;
  left: 0;
  position: absolute;
  width: 80px;
}

.layer-9__right-cloud {
  background: white;
  border-radius: 0 40px 30px 0;
  bottom: 0;
  display: inline-block;
  height: 60%;
  left: 80px;
  position: absolute;
  width: 40px;
}

.layer-10 {
  /*   background: pink; */
  bottom: 0;
  height: 100px;
  position: absolute;
  right: 0;
  width: 120px;
  z-index: 10;
}

.layer-10__left-cloud {
  background: white;
  border-radius: 40px 0 0 30px;
  bottom: 0;
  display: inline-block;
  height: 60%;
  right: 80px;
  position: absolute;
  width: 40px;
}

.layer-10__right-cloud {
  background: white;
  border-radius: 40px 40px 0 0;
  display: inline-block;
  height: 100%;
  right: 0;
  position: absolute;
  width: 80px;
}

.minion-pig {
  left: 70%;
  top: -15px;
  height: 100px;
  width: 120px;
  background-color: #66FF00;
  border: 2px solid #2b4d13;
  position: absolute;
  border-radius: 50% 50% 50% 50%/55% 60% 40% 45%;
}
.minion-pig:before {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: inset 5px -5px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 5px -5px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: inherit;
  z-index: 50;
}

.ear-left-outer {
  height: 20px;
  width: 18px;
  background: #66FF00;
  border: 2px solid #2b4d13;
  border-radius: 80%;
  position: absolute;
}

.ear-left-inner {
  height: 10px;
  width: 10px;
  top: 4px;
  left: 2px;
  background: #2F6317;
  border: 2px solid #2b4d13;
  border-radius: 80%;
  position: absolute;
}

.ear-right-outer {
  height: 20px;
  width: 18px;
  background: #66FF00;
  border: 2px solid #2b4d13;
  border-radius: 80%;
  position: absolute;
  left: 95px;
}

.ear-right-inner {
  height: 10px;
  width: 10px;
  top: 4px;
  left: 2px;
  background: #2F6317;
  border: 2px solid #2b4d13;
  border-radius: 80%;
  position: absolute;
}

.layer-1 input[type=checkbox] {
  /* After 4 */
  -webkit-animation-name: bunny;
          animation-name: bunny;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.layer-2 input[type=checkbox] {
  /* After 4 */
  -webkit-animation-name: bunny;
          animation-name: bunny;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.layer-4 input[type=checkbox] {
  /* After 4 */
  -webkit-animation-name: bunny;
          animation-name: bunny;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.layer-6 input[type=checkbox] {
  /* After 4 */
  -webkit-animation-name: bunny;
          animation-name: bunny;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}